<!doctype html>
<html lang="en">
<head>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<title>Loadup GitOps demo</title>
</head>
<body>
<body>
	<div class="px-4 py-5 my-5 text-center">
		<img class="d-block mx-auto mb-4"
			src="/static/logo.jpg" alt="" width="268" height="65">
		<h1 class="display-5 fw-bold">Loadup GitOps demo<</h1>
		<div class="mx-auto m-4">
			<h3>System Hostname</h3>
			<span id="hostname">{{ hostname }}</span>
		</div>
			<div class="mx-auto m-4">
			<h3>Version</h3>
			<span id="version">{{ version }}</span>
		</div>
	</div>
</body>
</html>